<div class="list">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="list-item">
						<h5>Denuncia Nº <%= red_ligth.id %></h5>
						Indice: <%= red_ligth.operator %> · Tipos de violencia detectados:
						<% red_ligth.types_of_violence.each do |types_of_violence|%>
						<%= types_of_violence %>
						<%end%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>