<% if @institution.nil? %>
<h1>Se necesita una institución para poder continuar</h1>
<%else%>
<%= render partial: '/red_lights/embed_form', locals: { :red_ligth => @red_ligth, :institution => @institution } %>
<%end%>

<script>
  if ('<%= @url %>' == document.URL) {
    console.log('<%= @url %>');
  }else {
  	// la url es incorrecta
    console.log(document.URL);

  }
</script>