<div class="intro bg-bluegradient intro_autod">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="contenido">

            <div class="title-config">
              <h2>Autodiagnóstico en tu institución</h2>
              <p class="">Entrega a tus estudiantes el siguiente código para que puedan accesar.</p>
              <div class="code-box">
                <h2><%= current_user.validates_diagnostic%></h2>
              </div>
              <div class="full show_hide">
                <p class="right">
                Modo de uso ↕
                </p>
                </div>
            </div>

          <div class="steps">
            <ul class="left steps hide_hide">
              <li>Radar presenta dos tipos de cuestionario, uno es para docentes y directivos y el otro es para alumnos.</li>
              <li>Es necesario que los cuestionarios sean llenados vía Radar dentro de la misma escuela por todos los alumnos de todos los grupos y por toda la planta de docentes y directivos.</li>
              <li>Los cuestionarios pueden ser llenados en el centro de computo de la escuela, la escuela deberá organizarse para que se conteste en tandas de alumnos y docentes.</li>
              <li>Es importante comentarle a los alumnos y docentes de la importancia de tener un diagnóstico sobre la convivencia escolar en su escuela y solicitar que se conteste de manera sincera y responsable.</li>
              <li>Los cuestionarios deben contestarse de manera individual, las respuestas son totalmente confidenciales y solo se utilizaran con fines de análisis.</li>
            </ul> 
          </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intro">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="contenido ">
            <div class="title-space">            
              <h5>Lista de cuestionarios</h5>
            </div>
            <% @questionaries.each do |c| %>
              <%= link_to "#{c.title}", view_questionary_path(c.id), target: '_blank', class:'element' %></br>
            <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>