  <%#= javascript_include_tag :defaults, :cache => true %>
<div class="cuestionario">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="inner">
          <div class="titlebox">
            <h5>Crear Cuestionario</h5>
          </div>
          <div class="cuestionaries-create">
              <%= render partial: 'form'%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>