<div class="intro bg-bluegradient">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner"> 
          <div class="answer-title"> 
            <h4>Respuestas</h4> <h5>(Autodiagnóstico)</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner"> 
          <div class=" list"> 
            <% if !@content.nil? %>
              <div class="answers">
                <% @responces.each do |res|%>
                <div class="list-item">
                  <% find_responce_in_question(res.cuestionary, res.opt, res.responce).each do |result|%> 
                  <%= ("#{result}" ).html_safe%>
                  <%end%>
                </div>
                  <%end%>
                <%else%>
                  <%= @content %>
                <%end%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

