<h1>Respuesta cuestionario</h1>
<% if !@content.nil? %>
<% @responces.each do |res|%>
	<% find_responce_in_question(res.cuestionary, res.opt, res.responce).each do |result|%>
	 <%= result.html_safe %>
	<%end%>
<%end%>
<%else%>
  <%= @content %>
<%end%>