.all-tabs {
  background:#f1f1f1;
}

.witness-intro {
  background-image: image-url('bg_home.png');
}

.personal-intro {
  background-image: image-url('bg_home.png');
}

.form-sheet {
  display: block;
  background: #fff;
  margin: 40px 0;
  box-shadow: 0px -1px 5px #999;
}

.tabs-place{
  font-family: $font-radar ;
  text-align: center;
  padding: 25px 0 0 25px;
  width: 100%;
}



.tabs {
  display: block;
  float: left;
  border: none;
  border-radius: 3px 3px 0 0;
  padding: 10px;
  color: white;
  margin-right: 2px;
  font-size: 14px;
  cursor: pointer;
  width: 46%;

  &.personal {
    background:#1E4D5C;
  }

  &.witness {
    background:#66A80F;
  }
}

.tabs-main-content {
  text-align: left;
  padding: 0px;
  @include clearfix;

  .text-box {
    float: left;
    text-align: justify;
    margin-bottom: 30px;
    padding: 20px 40px;

    p{
      font-size: 15px;
      line-height: 19px;
      color: $white;
      padding-top: 20px;
    }

    h4,label {
      color: $white;
    }
  }

  .data {
    float: left;
    width: 45%;
    margin: 30px 5% 0 0;
    color: $white;
  }
}

.question-list {
  font-family: $font-radar;
}

.question-item  {
  cursor: pointer;
  position: relative;
  display: block;
  background: #Fcfcfc;
  color: #666666;
  position: relative;
  text-align: left;
  padding: 8px 30px 8px 15px;
  margin: 8px 35px;
  border: #ccc solid 1px;
  border-radius: 5px;
  font-size: 15px;

  &:hover {
    background: rgba(0,0,0,.06);
  }
}

.check-box {
  position: absolute;
  right: 5px;
  vertical-align: middle; 
}


.history, .agresores {
  margin: 30px 20px 20px 20px;
  padding: 20px;
  text-align: left;
  @include clearfix;

  p {
    font-weight: bold;
  }

  .options {
    float: left;
  }


}


.logo-form {
  background:#fafafa;
  border-top: 1px #efefef solid;
  padding: 35px;
  text-align: left; 

}

.reports-btn {
  float: left;
  margin: 0 0 30px 40px;

}