.i {
  background: image-url('pack.png');
  background-repeat: no-repeat;
  @include inline-block;
  vertical-align: middle;
}

.i-stats {
  width: 16px;
  height: 16px;
  background-position: 0 4px;
}

.i-config {
  width: 16px;
  height: 16px;
  background-position: -16px 0;
}

.i-arrow1 {
  width: 14px;
  height: 9px;
  background-position: 0 -26px;
}

.i-arrow2 {
  width: 14px;
  height: 9px;
  background-position: 0 -26px;
}

.i-back {
  width: 18px;
  height:18px;
  background-position: 0 -54px;
}

.i-go {
  width: 18px;
  height:18px;
  background-position: -18px -54px;
}

.i-school {
  width: 46px;
  height: 18px;
  background-position: 0 -75px;
  float: left;
}


.i-alert {
  width: 17px;
  height:17px;
  background-position: 0 -126px;
}

.i-menu {
  width: 27px;
  height:21px;
  background-position: -54px 0;
}

.i-analytics {
  width: 33px;
  height: 21px;
  background-position: -92px 0;
}

.i-solicitudes {
  width: 33px;
  height: 17px;
  background-position: -127px 0;
}

.i-users {
  width: 33px;
  height: 19px;
  background-position: -160px 0;
}

.i-inst {
  width: 33px;
  height: 10px;
  background-position: -195px 0;
}

.i-focos {
  width: 33px;
  height: 14px;
  background-position: -227px 0;
}

.i-arrow3 {
  width: 33px;
  height: 18px;
  background-position: -260px 0;
}

.i-exit {
  width: 33px;
  height: 19px;
  background-position: -295px 0;
}