.i {
  background-image: url("pack.png");
  background-repeat: no-repeat;
  @include inline-block;
  vertical-align: middle;
}

.i-stats {
  width: 16px;
  height: 16px;
  background-position: 0 4px;
}

.i-config {
  width: 16px;
  height: 16px;
  background-position: -16px 0;
}

.i-arrow1 {
  width: 14px;
  height: 9px;
  background-position: 0 -26px;
}

.i-arrow2 {
  width: 14px;
  height: 9px;
  background-position: 0 -26px;
}

.i-back {
  width: 18px;
  height:18px;
  background-position: 0 -54px;
}

.i-go {
  width: 18px;
  height:18px;
  background-position: -18px -54px;
}

.i-school {
  width: 46px;
  height: 18px;
  background-position: 0 -75px;
  float: left;
}


.i-alert {
  width: 17px;
  height:17px;
  background-position: 0 -126px;
}