.cuestionaries-create {
  text-align: left;
  margin: 45px 0;
}

.questions_container {
  margin-top: 35px;
}

.quiz-content {
  width: 100%;
}

.question-element {
  width: 100%;
  text-align: left;
  padding: 0 0 25px 10px;
  border-bottom: 1px solid #ececec;
  margin-top: 20px;

  .question {
    font-size: 15px;
    font-family: $font-radar;
  }
}

.type-text {
text-align: left;
}

.type-multi {

}

.type-scale {
  background:#fcfcfc;
  
  table, td {
    border: 1px #ececec solid;
    padding: 25px;
  }
}

.type-checkbox {
  margin-right: 25px;
}


.add {
  margin-bottom: 20px;
} 

.abajo {
  text-align: center;

  span {
    display: block;
    margin: 5px 0px;
  }
}