<div class="graph">
<h2 style="color:#1069A0;">Actualizaciones</h2>
	<div class="timeline_radar">
		<div class="timeline">
	    <ul class="events">
	        <li style="width: 12.48%; left: 47.2%; background:#2EA0B5;"> Inición de la planeación <em>(2014)</em></li>
   	        <li style="width: 8.48%; left: 47.2%;  background:#2EA0B5;"> Logo <em>(2014)</em></li>
	        <li style="width: 14.48%; left: 47.2%; background:#2EA0B5;"> Diseño de pantallas <em>(2014)</em></li>
	        <li style="width: 24.48%; left: 30.2%; background:#2EA0B5;"> Diseño de metodología <em>(2014)</em></li>
	        <li style="width: 14.48%; left: 47.2%; background:#2EA0B5;"> Diseño de modulos <em>(2014)</em></li>
	        <li style="width: 18.48%; left: 47.2%; background:#E09045;"> Desarrollo de modulo red alert <em>(2014)</em></li>
	        <li style="width: 18.48%; left: 47.2%; background:#E09045;"> Desarrollo de modulo asesor <em>(2014)</em></li>
	        <li style="width: 18.48%; left: 47.2%; background:#E09045;"> Desarrollo de modulo user <em>(2014)</em></li>
	        <li style="width: 29.48%; left: 47.2%; background:#E09045;"> Desarrollo de vistas <em>(2014)</em></li>
	        <li style="width: 20.48%; left: 47.2%; background:#E09045;"> Desarrollo de web mobile <em>(2014)</em></li>
	        <li style="width: 16.48%; left: 57.2%; background:#E09045;"> Desarrollo de modulo autodiagnóstico <em>(2014)</em></li>
	        <li style="width: 20.48%; left: 68.2%; background:#6FA45A;"> Desarrollo de API <em>(2014)</em></li>
	        <li style="width: 20.48%; left: 68.2%; background:#6FA45A;"> Desarrollo de mobile <em>(2014)</em></li>

	    </ul> <!-- end .events -->

	    <ul class="intervals">
	        <li class="first">En</li>
	        <li>Feb</li>
	        <li>Mar</li>
	        <li>Abr</li>
	        <li>May</li>
	        <li>Jun</li>
	        <li>Jul</li>
	        <li>Agos</li>
	        <li>Sept</li>
	        <li>Oct</li>
	        <li>Nov</li>
	        <li class="last">Dic</li>
	    </ul> <!-- end .intervals -->
	    </div> <!-- end .timeline -->
	</div>
</div>