<div class="bg-blue graph">

	<h4>Actualizaciones</h4>
		<div class="timeline_radar">
		<div class="line"></div>
			<div class="timeline">
			<div class="line"></div>
		    <ul class="events">
		      <li style="width: 12.48%;"> 
		      	Inición de la planeación 
	        	<p>(2014)</p>
	        </li>

   	      <li style="width: 8.48%;"> 
   	      	Logo 
   	        	<p>(2014)</p>
   	        </li>

	        <li style="width: 14.48%;"> 
	        	Diseño de pantallas 
	        	<p>(2014)</p>
	        </li>

	        <li style="width: 24.48%;"> 
	        	Diseño de metodología 
	        	<p>(2014)</p>
	        </li>

	        <li style="width: 14.48%;"> 
	        	Diseño de modulos 
	        	<p>(2014)</p>
	        </li>

	        <li style="width: 18.48%;"> 
	        	Desarrollo de modulo red alert 
	        	<p>(2014)</p>
	        </li>

	        <li style="width: 18.48%;"> 
	        	Desarrollo de modulo asesor 
	        	<p>(2014)</p>
	        </li>

	        <li style="width: 18.48%;"> 
	        	Desarrollo de modulo user 
	        	<p>(2014)</p>
	        </li>

	        <li style="width: 29.48%;"> 
	        	Desarrollo de vistas 
	        	<p>(2014)</p>
	        </li>

	        <li style="width: 20.48%;"> 
	        	Desarrollo de web mobile 
	        	<p>(2014)</p>
	        </li>

	        <li style="width: 16.48%;"> 
	        	Desarrollo de modulo autodiagnóstico 
	        	<p>(2014)</p>
	        </li>

	        <li style="width: 20.48%;"> 
	        	Desarrollo de API 
	        	<p>(2014)</p>
	        </li>

	        <li style="width: 20.48%;"> 
	        	Desarrollo de mobile 
	        	<p>(2014)</p>
	        </li>
	    </ul> <!-- end .events -->

	    <ul class="intervals">
	        <li class="first">En</li>
	        <li>Feb</li>
	        <li>Mar</li>
	        <li>Abr</li>
	        <li>May</li>
	        <li>Jun</li>
	        <li>Jul</li>
	        <li>Agos</li>
	        <li>Sept</li>
	        <li>Oct</li>
	        <li>Nov</li>
	        <li class="last">Dic</li>
	    </ul> <!-- end .intervals -->
	    </div> <!-- end .timeline -->
	</div>
</div>

