<% if session[:languaje]== 'en' %>
<div class=" graph">
	<h4>Actualizaciones</h4>
	<div class="timeline_radar">
		<div class="line"></div>
		<div class="timeline">
		    <ul class="events">
		      <li>
		      	Planning start 
	        	<p>(2014)</p>
	        </li>
   	      <li> 
   	      	Logo 
   	        	<p>(2014)</p>
   	        </li>
	        <li> 
	        	Template design
	        	<p>(2014)</p>
	        </li>
	        <li> 
	        	Methodology design
	        	<p>(2014)</p>
	        </li>
	        <li> 
	        	Module design
	        	<p>(2014)</p>
	        </li>
	        <li> 
	        	Red alert module design
	        	<p>(2014)</p>
	        </li>
	        <li> 
	        	Assessor module design 
	        	<p>(2014)</p>
	        </li>
	        <li> 
	        	User development module
	        	<p>(2014)</p>
	        </li>
	        <li> 
	        	Views development 
	        	<p>(2014)</p>
	        </li>
	        <li> 
	        	Mobile web development 
	        	<p>(2014)</p>
	        </li>
	        <li> 
	        	Autodiagnostic module development 
	        	<p>(2014)</p>
	        </li>
	        <li> 
	        	api development
	        	<p>(2014)</p>
	        </li>
	        <li> 
	        	Mobile development
	        	<p>(2014)</p>
	        </li>
	    </ul> <!-- end .events -->

	    <ul class="intervals">
	        <li class="first">Jan</li>
	        <li>Feb</li>
	        <li>Mar</li>
	        <li>Apr</li>
	        <li>May</li>
	        <li>Jun</li>
	        <li>Jul</li>
	        <li>Aug</li>
	        <li>Sept</li>
	        <li>Oct</li>
	        <li>Nov</li>
	        <li class="last">Dic</li>
	    </ul> <!-- end .intervals -->
	    </div> <!-- end .timeline -->
	</div>
</div>

 <%else%>

<div class=" graph">
	<h4>Actualizaciones</h4>
		<div class="timeline_radar">
		<div class="line"></div>
			<div class="timeline">

		    <ul class="events">
		      <li > 
		      	Inición de la planeación 
	        	<p>(2014)</p>
	        </li>
   	      <li>  
   	      	Logo 
   	        	<p>(2014)</p>
   	      </li>
	        <li > 
	        	Diseño de pantallas 
	        	<p>(2014)</p>
	        </li>
	        <li > 
	        	Diseño de metodología 
	        	<p>(2014)</p>
	        </li>
	        <li > 
	        	Diseño de modulos 
	        	<p>(2014)</p>
	        </li>
	        <li > 
	        	Desarrollo de modulo red alert 
	        	<p>(2014)</p>
	        </li>
	        <li > 
	        	Desarrollo de modulo asesor 
	        	<p>(2014)</p>
	        </li>
	        <li > 
	        	Desarrollo de modulo user 
	        	<p>(2014)</p>
	        </li>
	        <li > 
	        	Desarrollo de vistas 
	        	<p>(2014)</p>
	        </li>
	        <li > 
	        	Desarrollo de web mobile 
	        	<p>(2014)</p>
	        </li>
	        <li > 
	        	Desarrollo de modulo autodiagnóstico 
	        	<p>(2014)</p>
	        </li>
	        <li > 
	        	Desarrollo de API 
	        	<p>(2014)</p>
	        </li>
	        <li > 
	        	Desarrollo de mobile 
	        	<p>(2014)</p>
	        </li>
	    </ul>
	    <!-- end .events -->

	    <ul class="intervals">
	        <li class="first">En</li>
	        <li>Feb</li>
	        <li>Mar</li>
	        <li>Abr</li>
	        <li>May</li>
	        <li>Jun</li>
	        <li>Jul</li>
	        <li>Agos</li>
	        <li>Sept</li>
	        <li>Oct</li>
	        <li>Nov</li>
	        <li class="last">Dic</li>
	    </ul> <!-- end .intervals -->
	    </div> <!-- end .timeline -->
	</div>
</div>
 <% end %>
