<div class="bg-gray">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">

          <section id="cd-timeline" class="cd-container">
            <div class="cd-timeline-block">
              <div class="cd-timeline-img pendiente">
                 <i class="i i-pendiente"></i>
              </div> <!-- cd-timeline-img -->
             

              <div class="cd-timeline-content">
                <h5>Responsive Design </h5>
                <p>Desarrollo y adaptación del sitio web a dispositivos móviles</p>
                <span class="cd-date">Hoy</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img check">
                <i class="i i-check"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h5>Desarrollo de API </h5>
                  
                <span class="cd-date">Ago · 14</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img check">
                <i class="i i-check"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h5>Desarrollo de modulo autodiagnóstico </h5>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
                <span class="cd-date">Ago · 18</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img other">
                <i class="i i-check"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h5>Desarrollo de vistas </h5>
                <p>Vista de detalles</p>
                <span class="cd-date">Ago · 18</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img check">
                <i class="i i-check"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h5>Desarrollo de módulo user </h5>
                <p>Vista interna para los usuarios registrados</p>
                <span class="cd-date">Ago · 2014</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img check">
                <i class="i i-check"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h5>Desarrollo de módulo asesor </h5>
                <p> </p>
                <span class="cd-date">Ago · 2014</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img check">
                <i class="i i-check"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h5>Desarrollo de módulo red alert </h5>
                <p> </p>
                <span class="cd-date">Ago · 2014</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->


            <div class="cd-timeline-block">
              <div class="cd-timeline-img check">
                <i class="i i-check"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h5>Desarrollo de módulos </h5>
                <p> </p>
                <span class="cd-date">Ago · 2014</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img other">
                <i class="i i-check"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h5>Diseño de metodología </h5>
                <p> </p>
                <span class="cd-date">Ago · 2014</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img other">
                <i class="i i-check"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h5>Diseño de pantallas </h5>
                <p> </p>
                <span class="cd-date">Ago · 2014</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img other">
                <i class="i i-check"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h5>Logotipo </h5>
                <p> </p>
                <span class="cd-date">Jul · 2014</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

            <div class="cd-timeline-block">
              <div class="cd-timeline-img check">
                <i class="i i-check"></i>
              </div> <!-- cd-timeline-img -->

              <div class="cd-timeline-content">
                <h5>Planeación de proyecto </h5>
                <p> </p>
                <span class="cd-date">Jul · 2014</span>
              </div> <!-- cd-timeline-content -->
            </div> <!-- cd-timeline-block -->

          </section> <!-- cd-timeline -->
        </div>
      </div>
    </div>
  </div>
</div>
