<div class="titlebox intro intro-diagnostico bg-green">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h2>Autodiagnóstico</h2>
            <p>Diagnostica la situación de violencia en tu institución</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>