<div class="titlebox intro intro-foco bg-orange">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h2>Denuncia confidencial</h2>
            <p>Reporta casos de bullying de manera confidencial</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="info">
            <h3>¿Cómo funciona?</h3>
            <p>Radar provee un formulario online que puede integrarse en el sitioweb de la escuela, su plataforma Cúrsame así como desde una dirección electrónica y las notificaciones de los casos llegan al  conocimiento de las autoridades correspondientes.</p>
          </div>
        </div>
      </div>
      <div class="col col-5">
        <div class="col-inner">
          <div class="right">
            <%=image_tag('iphone1.png')%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="intro bg_foco1 bg_blue">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="center-content">
            <div class="section-title">
              <h3>Detección de casos de bullying</h3>
            </div>
            <div class="cols-12">
              <div class="col col-3">
                <%=image_tag('victima.png')%><p>
                Mediante la denuncia de los propios alumnos(as) que son víctimas en la escuela</p>
              </div>
              <div class="col col-3">
                <div class="col inner">
                  <%=image_tag('testigos.png')%>
                  <p>Mediante la denuncia de alumnos(as) testigos de casos de bullying en la escuela</p>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="about">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="center-content">
            <h3>Identificación del grado de victimización</h3>
            <p>A manera de semáforo es posible detectar la severidad de cada caso mediante los diferentes indicadores:</p>
            <ul class="tipos_bullying">
              <li>Burlas</li>
              <li>Exclusión</li>
              <li>Cynerbullying</li>
              <li>Agresión verbal</li>
              <li>Daño a pertenencias</li>
              <li>Bullying psicológico</li>
              <li>Amenaza</li>
              <li>Violencia física</li>
            </ul>
            <%=image_tag('semaforo.png')%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="titlebox intro bg-orange">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h3>¿Quieres monitorear tu institución?</h3>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>