<div class="titlebox bg-orange">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner denuncia-intro">
          <h2>Denuncia confidencial</h2>
          <p>Reporta casos de bullying de manera confidencial <p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="cols-12">
    <div class="col col-7">
      <div class="info">
        <h3>¿Cómo funciona?</h3>
        <p>
        Radar provee un formulario online que puede integrarse en el sitioweb de la escuela, su plataforma Cúrsame así como desde una dirección electrónica y las notificaciones de los casos llegan al  conocimiento de las autoridades correspondientes.<p>
      </div>
    </div>
    <div class="col col-5">
      <div class="right">
        <%=image_tag('iphone1.png')%>
      </div>
    </div>
</div>

  <div class="intro">
    <div class="wrapper bg_blue">
      <div class="cols-12">
        <div class="col col-12">
          <div class="denuncia-bg">
            ñskjclñksahklñadh
          </div>
        </div>
      </div>
    </div>
</div>



