<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald:400,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<div class="title_al">
	<h1><%=image_tag('radar.png')%> Radar</h1>
	<p>Recurso Antibullying de Diagnóstico Análisis y Reporte</p>
</div>

<div id="dinamic"></div>
<div style="background:#6091D1; padding:10px; color:#fff; width:110%; margin-left:-10px;">
<h2><div id="acumulado"></div></h2>
<p>Basados en la data histórica.</p>
</div>
<div class="column1">
<h1>Cúrsame a favor de la convivencia</h1>

	<p>Para Cúrsame la violencia escolar es un tema de gran importancia por varias razones que a 

	continuación se abordaran:</br></br>
    <div>
	• Encontramos una gran necesidad de participar en acciones contra la violencia escolar ya 

	que Cúrsame requiere para poder funcionar adecuadamente que la comunidad educativa 

	de las instituciones se encuentren en las mejores condiciones de convivencia, tolerancia y 

	respeto.</br> 

	• Consideramos que para que los alumnos interactúen con otros con un fin educativo 

	se requiere un ambiente de convivencia positiva para que se pueda dar el proceso de 

	aprendizaje colaborativo de la manera más integral posible.</br>

	• En Cúrsame sabemos que si las condiciones antes mencionadas son adecuadas 

	cumpliremos el objetivo de integrar nuestra herramienta tecnológica al ámbito escolar 

	como una forma eficaz de favorecer los espacios de encuentro efectivo y positivo para 

	mejorar el proceso de enseñanza-aprendizaje.</br>
	</div></p>

	<div>
		¿Qué es la violencia escolar?</br></br>

		La violencia escolar es un fenómeno social que va a depender de múltiples aspectos del contexto en el que los sujetos se desenvuelven, ésta se va a presentar con diversas formas dentro de las relaciones de convivencia que van desde las psicológicas hasta las físicas, su principal característica es que genera daño a una o varias personas dentro de la institución escolar.</br></br>

		¿Qué consecuencias tiene?</br></br>

		Se reconoce que su falta de atención conlleva a consecuencias en el deterioro del ambiente 

		escolar y en el proceso de enseñanza - aprendizaje, además de contribuir con problemas 

		actuales del ámbito educativo como el rezago y la exclusión escolar.</br></br>

		¿Qué hace radar?</br></br>

		1.Contribuir a la mejora de la convivencia escolar, a través de una detección sistemática y de fácil 

		procesamiento (automática) sobre las principales necesidades de cada institución en el tema de 

		convivencia escolar.</br></br>

		2.Promueve el acceso a información actualizada sobre el tema de violencia escolar</br></br>

		3. Vincula a las instituciones con organismos especializados para que haga uso de la </br></br>información 

		generada por la herramienta para la prevención y atención de la violencia escolar

		4. Facilita a los alumnos la denuncia de victimización a través de un medio electrónico y permite 

		a la institución conocer los focos rojos que requieren inmediata atención.</br></br>

		 ¿Cuáles con los beneficio para la institución?</br></br>

		- Permite un diagnóstico oportuno de las principales necesidades de cada institución para que la 

		escuela con acompañamiento de organismos especializados pueda actuar de la mejor manera en 

		pro de la convivencia.</br></br>

		-Permite generar datos locales y regionales de interés para las instituciones y los organismos de 

		atención a la violencia escolar.</br></br>

		-Permite conocer los cambios en la convivencia con diagnósticos en distintos momentos.</br></br>
  </div>
</div>

<div class="column2">
     <h1>México hoy en día (OCDE):</h1>
    <center>
	<%= image_tag('violenciaescolar.jpg', height:200)%>
	<%= image_tag('violenciaescolar3.jpg', height:200)%>
	<%#= image_tag('violenciaescolar2.gif', height:200)%>
	</center>
	<div id="velosim1" style="width:300px; float:left;"></div>
	<div id="velosim2" style="width:300px; float:left;"></div>
	<div id="velosim3" style="width:300px; float:left;"></div>
	<div id="velosim4" style="width:300px; float:left;"></div>	
</div>
