<div class="intro home-intro">
  <div class="wrapper">
    
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="center">
            <h1>Recurso Anti bullying de<br/>Diagnóstico, Análisis y Reporte</h1>
            <h6>Identifica, prevee y atiende casos de violencia escolar y se parte</br>de la solución en tu comunidad educativa</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="cols-12">
      <div class="col col-6">
        <div class="col-inner">
          <div class="block bg-orange">
            <div class="block-content">
              <h3>Denuncia Confidencial</h3>
              <p>Denuncia al reportar casos <br/>de bullying de manera confidencial.</p>
                <%= link_to "Más información → ", foco_rojo_path, class: "nav-btn btn btn-outline" %>
              <div class="img-block">
                <%=image_tag('img_block1.png')%>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="col-inner">
          <div class="block bg-green">
            <div class="block-content">
              <h3>Autodiagnóstico</h3>
              <p>Denuncia al reportar casos <br/>de bullying de manera confidencial.</p>
              <%= link_to "Más información → ", diagnostico_path, class: "nav-btn btn btn-outline" %>
              <div class="img-block">
                <%=image_tag('img_block2.png')%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>