<div class="titlebox intro intro-us bg-blue">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h2>Nosotros</h2>
            <p>Recurso Anti bullyng de Diagnóstico, Análisis y Reporte </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>