<div class="titlebox intro bg-bluegradient">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h2>Gracias</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-7">
        <div class="col-inner">
          <div class="info">
            <h3>Te has suscrito con éxito.</h3>
            <p> Te notificaremos en cuanto esté lista nuestra herramienta de autodiagnóstico</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
