<h1>Foco Rojo</h1>

<div>
  <textarea style="width:400px; height:200px;" >
  <!--Require jquery-->
   <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <!--Embed code-->
  <script type="text/javascript">$.get("http://localhost:3000/app/red_lights_js?institution=<%=data.tokenspecialforms%>&pathx=/", function(data) {$('#redalert').html(data)});</script><div id="redalert"></div>
  </textarea>

  <p><b>Nota:</b></br>
   <p style="width:400px; height:200px; text-align:justify;">El sistema de radar esta validado para utilizar jquery
      en caso de no tenerlo instalado en su Web es necesario que
      peque el código de jquery, en caso de ya tenerlo solo el embed code.
   </p>
  </p>
</div>

<div>
	
	
</div>


