<h1>Foco Rojo</h1>

<div>
  <textarea style="width:400px; height:200px;" >
  	 <iframe src="http://localhost:3000/alert_point?institution=<%= data.tokenspecialforms%>" width:500px; height:600px;></iframe>
  </textarea>
</div>



