<div class="block">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="contenido">
          <%= image_tag ('radar_green.png') %>
          <div class="title-dashboard center-content">
            <div class="school-name">
              <h2>No se ha registrado niguna denuncia.</h2>
            </div>
            <h4>Si no haz configurado tu Boton de Denuncia, ve a la sección de configuración</h4>
              <%= link_to 'Configuración →', configurate_path%>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



