
<h3>Denuncias actualmente: <%= data.red_lights.count %></h3>
<h3>Indicador de peligro: <%= number_with_precision(index_by_institution_violence(data), :precision => 2) %> </h3>
<center>
<% @red_lights = data.red_lights.paginate(:page => params[:page], :per_page => 5).order('created_at DESC')%>
  <% @red_lights.each do |r| %>
    <%= render :partial => '/red_lights/show', locals: {red_ligth: r }%>
  <%end%>
</div>
<div style="width:60%; float:right;">
</div>
<%= will_paginate @red_lights %>
