<div class="titlebox intro intro-expert bg-blue">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="titlebox-content">
            <h2>Asesor experto</h2>
            <p>Diagnostica la situación de violencia en tu institución</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="cols-12">
    <div class="col col-12">
      <div class="col-inner">
        <div>
	        <%= render :partial => '/red_lights/show', locals: {red_lights: @red_lights}%>
	       
          <%= will_paginate @red_lights %>
  
        </div>
      </div>
    </div>
  </div>
</div>
