<div class="intro bg_login">
  <div class="wrapper">
    <div class="cols-12">
      <div class="col col-12">
        <div class="col-inner">
          <div class="loginbox">
            <div class="titlesign">
                <h5> Solicitar cambio de contraseña</h5>
            </div>
            <div class="content">
			<%= form_tag('/users/deliver_resset_pass_instructions') do -%>
			  <%= email_field_tag 'email', '' , placeholder: 'tu@correo.com' %>
			      <div>
			        <span class="btn btn-input btn-outline "><%= submit_tag 'Solicitar cambio de contraseña' %></span>
			      </div>
			<%end%>
			</div>
            <div class="bottomsign">
             <p>Es necesario que ingreses tu email para que se te envien las instrucciones para cambiar tu contraseña</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
