<% if !@user.confirmation %>
	<div> El usuario no ha sido confirmado, usted recibirá una llamada de confirmación antes de activar el sistema
  </div>
<%end%>

<% @user.institutions.each do |i|%>
  <% if i.red_lights.count != 0%>
    <%= render partial: 'users/red_lights', locals: {data: i}%> 
  <%else%>
    <%= render partial: 'users/red_lights0', locals: {data: i}%> 
  <%end%>
<%end%>
