<div class="content-admin">
  <h1>
    <i class="i i-title i-solicitudes_title"></i>
    Solicitudes
  </h1> 
            
<%= render partial: '/management/parts/components/users', locals: {users: @users} %>

</div>