<div class="content-admin">
  <h1>
  <i class="i i-focos i-users_title"></i>
  Alertas 
  </h1>
  <%= render :partial => '/red_lights/show', locals: {red_lights: @red_lights }%>
  <%= will_paginate @red_lights %>

</div>
