<div class="content-admin">
  <h1>
  <i class="i i-focos i-users_title"></i>
  Alertas 
  </h1>
<% @redlight.each do |r| %>
      <%= render :partial => '/red_lights/show', locals: {red_ligth: r }%>
      En: <%=  r.help_institution[0].name %>

<%end%>
<%= will_paginate @redlight %>
</div>
