.dashboard-footer {
  font-family: $font-radar;
  text-align: left;
  width: 100%;
  position: relative;
  bottom: 0;
  padding-top: 30px;
  background-color: $white;
  @include clearfix;
  float: left;
  border-top: 1px solid #ccc;

  & p {
    font-family: sans-serif;
    color: #666666;
    font-size: 13px;
  }

  & span {
    font-weight: bold;
  }

  .logo {
    float: left;
    position: relative;
    top:10px;
  }

    .powered-by {
    font-size: 13px;
    float: right;
    position: relative;
    bottom: 30px;
  }

  @include max-screen (500px) {

  &.dashboard-footer {
    text-align: center;
  }

    .powered-by {
      display: none;
    }

    p {
      padding-bottom: 30px;
    }
  }
}