<%#= text_field_tag "cuest[#{cue}]", p.id %>

<% c = 0 %>
<div>
	<% viewver_encode(p.question_requires).each do |vx| %>

	<% c = c + 1 %>
  <div style="campo">
  <%=radio_button_tag "opt[#{cue}]", c %>

  <%= vx %> 
  </div>
  </br>
	<%end%>
</div>


