<% c = 0 %>
<div style="checkbox">
	<% viewver_encode(p.question_requires).each do |vx| %>
	<% c = c + 1 %>
	<div style="checkbox"><%=radio_button_tag "opt[#{cue}]", c %><%= vx %> </div></br>
	<%end%>
</div>