<div class="multi"> 
  <% c = 0 %>
  <% viewver_encode(p.question_requires).each do |vw| %>
  <% c = c + 1 %>
<div>
      <label class="type-multi element">
        <span>
          <%= vw %>
        </span>   
        <span class="check-box-position">
          <%= check_box_tag "opt[#{cue}][#{c}]"%> 
        </span>
      </label>
</div>
  <%end%>
</div>


