<% c = 1 %>
(pregunta escala)
<div style="margin-left:20px; width:80%">
	<% viewver_encode(p.question_requires).each do |vx| %>
	<% c = c + 1 %>
	<div style="float:left;"><%= vx %> <%=radio_button_tag "opt[#{cue}]", c %></div>
	<%end%>
</div>