<div class="type-scale">
  <table>
    <tr>
      <% viewver_encode(p.question_requires).each_with_index do |question, index| %>
        <td class="abajo">
          <label>
            <%= question %>
            <span><%=radio_button_tag "opt[#{cue}]", index + 1 %></span>
          </label>
        </td>
      <% end %>
    </tr>
  </table>
</div>
