<div style="margin-left:20px; width:80%">
(pregunta de texto)

	<div style="float:left;"> <%= text_area_tag "opt[#{cue}]", '', placeholder: 'ingesa la respuesta', style: "width:100%;" %></div></br></br>
</div>