<div style="type-text">
    <%#= text_area_tag "opt[#{cue}]", '', placeholder: 'ingesa la respuesta' %>

    <span style="selector"> 
     <% array_x = [] %>
      <% viewver_encode(p.question_requires).each do |vw| %>
        <div class="third-quarter">
        <div class="left">
         <% array_x.push(vw) %></div>
        </div>
      <%end%>
      <%= select_tag "opt[#{cue}]", options_for_select(array_x.map {|v,i| [v,array_x.index(v)+1] }) %>
      </span>
</div>