.btn {
  font-family: $font-radar;
  border-radius: 3px;
  padding: 10px;
  line-height: 15px;

  &.btn-input {
    padding: 0;
    height: auto;
    @include inline-block;

     input {
      font-size: 13px;
      font-weight: lighter;
      color: $white;
      padding: 5px 10px;
      background: none;
      border: none;
    }

    input:hover {
    background: white;
    border: none;
    color: #0A5F8A;
    }
  }
}

.btn-outline {
  color: #fff;
  border: 2px solid #fff;
  background: rgba(255,255,255,.2);
}

.btn-call {
  border: none;
  background: white;
  padding: 5px 20px 20px 20px;
  height: 35px;

  & p{
    font-size: 14px;
  }

    input {
      color: #62A20D;
      padding: 15px;
      background: none;
      border: 0;
    }
  }

.btn-form {
  float: left;
  border: none;
  background: #0A5F8A;
  border-radius: 3px;
  padding: 15px;
  color: white;
    
  & p{
    font-size: 14px;
  }

  &.btn-input {
    padding: 0;
    height: auto;
    @include inline-block;

    input {
      color: $white;
      padding: 15px;
      background: none;
      border: 0;
    }

    input:hover {
    background: #009398;
    border: none;
    color: #0A5F8A;
    }
  }
}


.btn-embed {
  @include inline-block;
      input {
      border-radius: 3px;
      font-size: 13px;
      font-weight: lighter;
      color: $white;
      padding: 5px 20px;
      background: #1991C3;
      border: 1px solid #4280A3;
      height: 45px;
    }
}

.btn-comment {
  @include inline-block;
      input {
      position: absolute;
      top:53px; 
      right: 20px; 
      float: right;
    }
}

.btn-load {
      input,a,p {
      @include inline-block;
      border-radius: 3px;
      font-size: 13px;
      font-weight: lighter;
      padding: 5px 20px;
      background: #ececec;
      border: 1px solid #dddddd;
      color: #666;
      height: 30px;
      width: 96%;
      margin-left: 10px;
    }

  :hover {
    background: #DEDEDE;
  }
}