* {
	-webkit-font-smoothing: antialiased;
}

body{
	position:absolute;
	width:100%;
	height:100%;
	margin:auto;
	text-align:center;
	border-collapse:collapse;
	font-family: sans-serif;
	font-weight: regular;
}

p{
	font-size: 15px;
	line-height: 22px;
	color: #4a4a4a;
}

h1,h2,h3,h4,h5{
	font-family: $font-radar;
}

h1{
	font-size: 58px;
	line-height: 64px;
	margin-bottom: 30px;
	padding-top: 80px;
	text-shadow: 1px 2px #204E62;
	color: white;
}

h2{
	font-size: 44px;
}

h3{
	font-size: 32px;
}

h4{
	font-size: 20px;
	line-height: 22px;
}

h5{
	color:#076DA9;
	font-size: 16px;
	line-height: 32px;
}

h6{
	font-family: sans-serif;
	color: white;
	font-size: 23px;
	line-height: 32px;
	font-weight: lighter;
	text-shadow: 1px 2px #204E62;
}

.header{
	height: 70px;
	width: 100%;
	margin: auto;
	background-color: #f7f7f7;
}

.singin-button{
  float: right;
  padding-top: 25px;
  
  a.login{
  font-size: 13px;
  color: #076da9;
	}
}

.bg-orange{
	background-color: #f36506;
}

.bg-green{
	background-color: #63a30f;
}
.bg-blue{
	background-color: #21386a;
}
.bg-redgradient{
	@include linear-gradient(75deg, #c74331 0%, #ec531e 100%);
}
.bg-greengradient{
	@include linear-gradient(75deg, #4f8805 0%, #6cb012 100%);
}
.bg-bluegradient{
	@include linear-gradient(135deg, #1B4251 0%, #296D7F 100%);
}

.block{
	opacity: 0.9;
	height: 220px;
	width: 100%;
	display: block;
	text-align: justify;
	margin: 80px 0 80px 0;
	border-radius: 3px;
	position: relative;

	.block-content {
		padding: 30px;
	}

	.img-block{
		float: right;
		position: absolute;
		bottom: 30px;
		right: 30px;
	}

	.btn {
		position: absolute;
		bottom: 30px;
	}

	.nav-btn{
		color:#FFFFFF;
		font-size: 14px;
	}
	& p{
		color: white;
	}
}

.footer{
	height:80px;
	width: 100%;
	position: relative;
	padding-top: 20px;
	background-color: #f8f8f8;
	@include clearfix;
	float: left;

	.footer-menu{
		float: left;
		text-align: left;
	}

	.footermenu {

		li {
			height: 40px;
			float:left;
			list-style-type: none;
			padding-top: 10px;

			.space{
				padding-top: 12px;
				padding-right: 25px; 
			}
		}
	
		a.nav-bottom{
			color: #076DA9;
			font-size: 13px;
			padding-right: 30px;
		}
	}

	.powered-by {
		font-size: 13px;
		float: right;
	}
}

.intro {
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
	
	&.home-intro {
		background-image: url(bg_home.png);
	}

	&.intro-foco {
		background-image: url(headaer_denuncia.png);
	}

	&.intro-diagnostico {
		background-image: url(headaer_diagnostico.png);
	}

	&.intro-us {
		background-image: url(headaer_us.png);
	}

	&.intro-contact {
		background-image: url(header_contact.png);
	}

	&.intto-panel {
		background-image: url(bg_panel.png);
	}

	&.bg_foco1{
		background-image: url(bg_foco1.png);
	}

	&.bg_diagnostico{
		background-image: url(bg_diagnostico.png);
	}

	&.bg_login{
	background-image: url(bg_login.png);
	}
}

.titlebox{
	text-align: justify;
	color: white;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	h2, p {
		text-shadow: 1px 2px #545454;
		color: white;
	}

	p {
		@include text-size-large;
	}

	.titlebox-content {
		padding: 80px 0;
	}
}

.info{
	float: left;
	text-align: left;
	padding: 90px 0; 

	& h3{
		margin-bottom: 25px;
	}
}

.bullying-detection{
	padding: 100px 0px 50px 0;

	.section-title  {
		text-align: center;
		margin-top: 30px;
	}

	img {
		margin-bottom: 20px;
	}

	p {
		color: $white;
		@include text-size-medium;
		margin-bottom: 30px;
	}
	span{
		color: #b5e018;
	}
}

.tipos-bullying{
	text-align: center;
	padding-top: 80px;

		.section-title  {
		text-align: center;
		padding: 30px 0;
	}

	img{
		margin: 70px 0;
	}
}

.funcion{
	text-align: center;
	padding: 80px 0;

	.section-title  {
	text-align: center;
	padding-bottom: 30px;
	}

	& p{
		margin-bottom: 20px;
	}
}

.call{
	text-align: center;
	padding: 80px 0 100px 0;

			.section-title  {
		text-align: center;
		padding: 20px 0;
	}

		p {
		color: $white;
		@include text-size-medium;
		margin-bottom: 50px;
	}
}

.us-info{
	text-align: justify;
	padding: 80px 0 100px 0;
					
	.section-title  {
	padding: 20px 0;
	}

	p {
	color: $white;
	@include text-size-medium;
	margin-bottom: 50px;}
}

.loginbox{
	text-align: left;
	margin: 11em auto;
	padding: 20ps 25px;
	background:rgba(255,255,255, 0.2);
	width: 22em;
	height: auto;
	color: #a4a4a4;
	border-radius: 3px;

	label{
		color: $white;
		font-size: 14px;
	}

	.content {
		margin: 25px;
		height: auto;
		padding-bottom: 25px;
	}

	.titlesign {
		background: white;
		border-radius: 3px 3px 0 0;
		padding:15px;
	}

	.bottomsign {
		background: white;
		border-radius: 0 0 3px 3px;
		padding:15px;
		color: #3879B4;

			span.a-sign{
			font-size: 11px;
		}
	}
}



.contact-form{
	margin: 80px 0;
}

.form-contenido{
	text-align: left;
	
	label{
	  font-family: $font-radar;
		color: #4a4a4a;
		font-size: 14px;
		font-weight: bold;
	}
}


.dashboard_header {
	font-family: $font-radar;
	height: 50px;
	background-color: #1991c3;
	width: 100%;
	margin: auto;

	.logo {
		float: left;
		position: relative;
		top:10px;
		margin-right: 30px;
	}

	.dashboard-menu {
			float:left;
			list-style-type: none;

			& ul {
  		}

			& li {
				padding: 16px 20px 0 15px;
				height: 34px;
				display: block;
				float:left;
				color: $white;
				font-size: 13px;

				border-right: 1px solid #309AC7;
				border-left: 1px solid #1382B0;




				& a {
					color: $white;
				}
			}
	}
}


.help{
  float: right;
  padding-top: 18px;

  
  & a, li {
  font-size: 13px;
  color: $white;
  list-style: none;
  float: left;
  margin-right: 10px;
	}

	.arrow1 {
	float: left;
	}
}

.dashboard-footer {
	font-family: $font-radar;
	height:80px;
	width: 100%;
	position: relative;
	padding-top: 20px;
	background-color: #f8f8f8;
	@include clearfix;
	float: left;
	border-top: 1px solid #ccc;

	.logo {
		float: left;
		position: relative;
		top:10px;
	}

}

.contenido {
	& img {
		margin: 15px 0;
		padding-top: 20px;
	}
}
.title-dashboard {
	text-align: left;
	margin: 30px 0;
	
	h2 {
		font-size: 24px;
		font-weight: bold;
	}

	h4 {
		font-size: 16px;
		color: #cdd2d5;
	}
}

.globe {
	height: 80px;
	padding: 25px;
	display: block;
	background: #FFFEEF;
	border-radius: 5px;
	width: 195px;

}

.current-stat-grade {
	position: relative;
	height: 240px;

	.speech {
		font-family: $font-radar;
		position: absolute;
		top: 0;
		width: 200px;
		height: 110px;
		margin-left: -100px;
		text-align: center;
		line-height: 35px;
		background-color: #fff;
		border: 1px solid #666;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		-moz-box-shadow: 0px 0px 3px #1D3A44;
		-webkit-box-shadow: 0px 0px 3px #1D3A44;
		box-shadow: 0px 0px 3px #1D3A44;

		h3 {
			padding-top: 25px;
			font-size: 40px;
			color: $black;
		}

		span {
			color: #666;
		}

		.tip {
			position: absolute;
			left: 50%;
			bottom: -16px;
			margin-left: -20px;
			width: 41px;
			height: 16px;
			background: url('pack.png') 0 -38px no-repeat;
		}
	}

	.grades {
		position: absolute;
		left: 0;
		bottom: 0;
	}
}


.total-filtro {
	text-align: left;
	margin-top: 20px;
	height: 70px;
	vertical-align: middle;

}

.lista-denuncias {
	text-align: left;
}

.filter-line {
	



	.filtro {

		p {
		text-align: right;
		font-family: $font-radar;
		font-size: 13px;
		} 
	}
}



.list-item {
	text-align: left;
	height: 50px;
	width: 100%;
	border: #ccc solid 1px;
	border-radius: 10px;
	background: #Fcfcfc;
	padding: 10px 0 20px 25px;
	margin: 8px 0;

	h5 {
		color: #323232;
	}


}