   <div class="dashboard-footer">
    <div class="wrapper">
      <div class="cols-12">
        <div class="col col-12">
          <div class="col-inner">
            <div class="footer">
              <%=image_tag('cursame.png')%>
            <div class="powered-by">
              <%=image_tag('footerlogo.png')%>
            </div>
          </div>
        </div>
      </div>
    </div>